[Unit]
Description=monolith
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/monolith
TimeoutStartSec=0
EnvironmentFile=/etc/monolith/pki_env

[Install]
WantedBy=multi-user.target
